*.tsbuildinfo
*.db
*.db-lock
*.js
*.map
*.json
*.cmd
*.ps1
*.md
*.mjs
*.ts
*.cjs
*.cts
*.applescript
*.mts
*.bnf
*.txt
*.html
*.flow
*.exe
*.css
*.less
*.yml
*.scss
*.svg
*.ttf
*.woff2
*.node
*.gyp
*.npmignore
*.gypi
*.h
*.c
*.cc
*.hh
*.editorconfig
*.template
*.gitkeep
*.jshintrc
*.nvmrc
*.eslintrc
*.markdown
*.nycrc
*.iml
*.1
*.xml
*.wasm
*.babelrc
*.BSD
*.gitattributes
*.php
*.py
*.snap
*.auto-changelog
*.png
*.eslintignore
*.prettierrc
*.coffee
*.ls
*.log
*.sh
*.ico
*.LICENSE
*.doc
*.in
*.def
*.sln
*.vcxproj
*.cpp
*.lock
*.nix
*.swf
*.bat
*.toml
*.ninja
*.APACHE
*.typed
*.cs
*.taprc
*.gif
*.jscsrc
*.yaml
*.wrapped
node_modules/
