<div class="dashboard-wrapper">
  <!-- Ticker tape -->
  <div id="ticker-tape" class="mb-3">
  </div>

  <!-- Grid layout -->
  <div class="row g-4">
    <div class="col-12 col-lg-4">
      <app-calendario />
    </div>
    <div class="col-12 col-lg-8">
      <app-tradingview />
    </div>
    <div class="col-12 col-lg-6">
      <app-favoritos />
    </div>
    <div class="col-12 col-lg-6">
      <app-posiciones />
    </div>
    <div class="col-12 col-lg-6">
      <app-crypto />
    </div>
    <div class="col-12 col-lg-6">
      <app-screener />
    </div>
  </div>
</div>
